.b_active_task {
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #0f0f0f;
    background-color: #0f0f0f;
    padding: 10px;
}

.b_active_task__caption {
    color: gray;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.b_active_task__container {
    background-image: url(/aurebesh-trainer/img/crt-background.png);
    border-radius: 8px;
}

.b_active_task__card {
    color: #5eaecc;
    text-align: center;
    padding-top: 0;
    padding-bottom: 40px;
    border-radius: 8px;
}

.b_active_task__symbol {
    font-family: "AurebeshInv", Verdana, Tahoma;
    font-size: 240px;
    text-shadow: 2px 2px 8px #5eaecc;
}

.b_active_task__answer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b_active_task__answer_form {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.b_active_task__answer__label {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px gray;
}

.b_active_task__answer__input {
    padding: 5px;
    background-color: black;
    font-family: Verdana, Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: #5eaecc;
    text-align: center;
    text-transform: uppercase;
    border-width: 1px;
    border-radius: 8px;
}

.b_active_task__answer__input:focus{
    border-radius: 8px;
}

.b_active_task__answer__button {
    padding: 5px;
    background-color: transparent;
    /*font-family: Verdana, Tahoma;*/
    font-size: 20px;
    color: white;
    text-align: center;
    border-width: 1px;
    border-radius: 8px;
    width: 60px;
    text-shadow: 2px 2px 8px gray;
}
