.b_statistics {
    vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #0f0f0f;
    background-color: #0f0f0f;
    padding: 10px;
}

.b_statistics__caption {
    color: gray;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.b_statistics__container {
    background-image: url(/aurebesh-trainer/img/crt-background.png);
    border-radius: 8px;
}

.b_statistics__answer {
    padding: 20px;
}

.b_answer_indicator {
    /*margin-top: 40px;*/
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 8px gray;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.p_answer_indicator__right {
    color: #00ff00;
    text-shadow: 2px 2px 8px #00bf00;
}

.p_answer_indicator__wrong {
    color: red;
    text-shadow: 2px 2px 8px red;
}

.b_answer_indicator__explanation__aub {
    font-family: "AurebeshInv", Verdana, Tahoma;
    font-size: 22px;
}

.b_answer_indicator__explanation__hg {
    font-family: Verdana, Tahoma;
}

.b_statistics__totals {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    color: gray;
    font-weight: bolder;
    text-shadow: 2px 2px 8px darkblue;
}

.b_statistics__row_name {
}

.b_statistics__row_value {
    text-align: right;
}
