@font-face {
    font-family: "Aurebesh";
    src: url(/fonts/Aurebesh.otf) format("truetype");
}
@font-face {
    font-family: "AurebeshInv";
    src: url(/fonts/AureBeshINV.otf) format("truetype");
}
@font-face {
    font-family: "AurebeshTech";
    src: url(/fonts/AureTech.otf) format("truetype");
}
@font-face {
    font-family: "AurebeshTechInv";
    src: url(/fonts/AureTechINV.otf) format("truetype");
}
@font-face {
    font-family: "AurebeshInvertedCapitals";
    src: url(/fonts/AurebeshInvertedCapitals.otf) format("woff");
}

