@import url(fonts.css);

.b_page {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  background-color: black;
  color: aliceblue;
  text-rendering: optimizeLegibility; /* optional: for older browsers */
  -webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
  font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
}

.b_page_system_high_galactic {
  font-family: Verdana, Tahoma;
}

.b_page_system_aurebesh {
  font-family: "AurebeshInv", Verdana, Tahoma;
}

.b_page_header {
  font-size: 48px;
  text-align: center;
  color: yellow;
}

.b_game_field {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media(min-width: 910px) {
  .b_page_header {
    font-size: 72px;
  }

  .b_game_field {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.b_font_sample__aurebesh {
  font-family: "Aurebesh", Verdana, Tahoma;
  font-size: 36px;
  display: none;
}

.b_font_sample__aurebesh_inv {
  font-family: "AurebeshInv", Verdana, Tahoma;
  font-size: 36px;
  display: none;
}

.b_font_sample__aurebesh_tech {
  font-family: "AurebeshTech", Verdana, Tahoma;
  font-size: 36px;
  display: none;
}

.b_font_sample__aurebesh_tech_inv {
  font-family: "AurebeshTechInv", Verdana, Tahoma;
  font-size: 36px;
  display: none;
}

.b_font_sample__aurebesh_inverted_capitals {
  font-family: "AurebeshInvertedCapitals", Verdana, Tahoma;
  /*text-rendering: "optimizeLegibility";*/
  text-rendering: optimizeLegibility;
  font-weight: bold;
  font-size: 36px;
  display: none;
}
